@charset "UTF-8";
/* ---------------
-common
--------------- */
html {
  height: 100%;
  font-size: 62.5%;
}

body {
  position: relative;
  color: #111111;
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  font-size: 1.6rem;
}

* {
  box-sizing: border-box;
}

a {
  display: block;
  text-decoration: none;
}

img {
  vertical-align: bottom;
}

.container {
  background: #fff;
}

.lineup-container {
  background: #00102d;
}

/* --------------
 header
 -------------- */
.header-bg {
  background: #00102d;
}

.header {
  min-width: 1000px;
  padding-bottom: 40px;
  background: #00102d;
}

@media screen and (max-width: 480px) {
  .header {
    min-width: 100%;
    padding-bottom: 4.68%;
  }
}

@media screen and (max-width: 980px) {
  .header {
    min-width: 100%;
  }
}

.header__index-inner {
  width: 1000px;
  margin: 0 auto;
}

@media screen and (max-width: 980px) {
  .header__index-inner {
    width: 100%;
  }
}

.header--index_header {
  background: url("../images/top_main_visual_pc.jpg") no-repeat center top;
  background-size: cover;
}

@media screen and (max-width: 480px) {
  .header--index_header {
    background: url("../images/top_main_visual_sp.jpg") no-repeat center top;
    background-size: cover;
  }
}

.header--suit_header {
  background: url("../images/suit_main_visual_pc.jpg") no-repeat center top;
  background-size: cover;
}

@media screen and (max-width: 980px) {
  .header--suit_header {
    background: url("../images/suit_main_visual_pc.jpg") no-repeat center top;
    background-position: 42% 15%;
    background-size: cover;
  }
}

@media screen and (max-width: 480px) {
  .header--suit_header {
    background: url("../images/suit_main_visual_pc.jpg") no-repeat center top;
    background-position: center 15%;
    background-size: contain;
  }
}

/* around logo */
.headline::after {
  content: "";
  display: block;
  clear: both;
}

.headline--index-bg {
  padding: 15px;
}

.headline--suit-bg {
  padding: 15px;
  background: #00102d;
}

.pc-company-logo {
  float: left;
  width: 91px;
}

@media screen and (max-width: 480px) {
  .pc-company-logo {
    width: 77px;
  }
}

.social-icons {
  float: right;
  width: 107px;
  list-style: none;
}

@media screen and (max-width: 480px) {
  .social-icons {
    width: 88px;
  }
}

.social-icons_item {
  float: left;
  width: 24px;
}

.social-icons_item:last-child {
  width: 29px;
}

.social-icons_item:nth-child(2) {
  margin: 0 15px;
}

@media screen and (max-width: 480px) {
  .social-icons_item:nth-child(2) {
    margin: 0 3.12%;
  }
}

.logo {
  width: 91px;
  margin-top: 5px;
}

@media screen and (max-width: 480px) {
  .logo {
    width: 68px;
  }
}

.twitter-icon,
.fb-icon,
.youtube-icon {
  width: 100%;
}

.twitter-icon:hover,
.fb-icon:hover,
.youtube-icon:hover {
  opacity: 0.8;
  transition: 0.5s;
}

/* index header contents */
.sp-title-wrap {
  display: none;
}

@media screen and (max-width: 480px) {
  .sp-title-wrap {
    display: block;
    padding-bottom: 10%;
  }
}

.page-title {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: bold;
}

.page-title--index-pc {
  margin-top: 298px;
  color: #fff;
  font-size: 8.8rem;
  text-align: center;
}

@media screen and (max-width: 980px) {
  .page-title--index-pc {
    font-size: 6.5rem;
  }
}

@media screen and (max-width: 480px) {
  .page-title--index-pc {
    display: none;
  }
}

.page-title--index-sp {
  display: none;
}

@media screen and (max-width: 480px) {
  .page-title--index-sp {
    display: block;
    margin-top: 20%;
    color: #fff;
    font-size: 5.25rem;
    font-family: "Roboto Condensed", sans-serif;
    font-weight: bold;
    text-align: center;
  }
}

.page-title--suit-sub-pc {
  width: 215px;
  margin-top: 80px;
  margin-left: 60px;
  font-size: 2.0rem;
}

@media screen and (max-width: 480px) {
  .page-title--suit-sub-pc {
    display: none;
  }
}

.page-title--suit-pc {
  width: 215px;
  margin-left: 60px;
  font-size: 11.5rem;
}

@media screen and (max-width: 980px) {
  .page-title--suit-pc {
    font-size: 6.5rem;
  }
}

@media screen and (max-width: 480px) {
  .page-title--suit-pc {
    display: none;
  }
}

.page-title--suit-sub-sp {
  margin-top: 14.06%;
  margin-left: 7.81%;
  font-size: 1rem;
}

.page-title--suit-sp {
  margin-left: 7.81%;
  font-size: 5.25rem;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: bold;
}

.page-title-text {
  margin-top: 36px;
  color: #fff;
  font-weight: 600;
  line-height: 1.9;
  text-align: center;
}

@media screen and (max-width: 480px) {
  .page-title-text {
    margin-top: 4.68%;
    font-size: 1rem;
    line-height: 1.8;
  }
}

.suit-title-text {
  margin: 40px 0 25px 60px;
  font-weight: 600;
  line-height: 2;
}

@media screen and (max-width: 480px) {
  .suit-title-text {
    color: #b5b5b5;
    margin: 5% 4.68%;
    font-size: 1.3rem;
  }
}

.button-block {
  width: 360px;
  margin: 68px auto 0;
}

@media screen and (max-width: 480px) {
  .button-block {
    margin-top: 9.06%;
    width: 82.03%;
  }
}

.button-wrap::after {
  content: "";
  display: block;
  clear: both;
}

.button {
  text-align: center;
}

.button--anker {
  width: 170px;
  padding: 15px 0;
  background: #fff;
  background-image: url("../images/bk_btn_arrow.png");
  background-size: 8px 15px;
  background-position: top 17px left 15px;
  background-repeat: no-repeat;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: #111111;
}

.button--anker:hover {
  opacity: 0.8;
  transition: 0.5s;
}

@media screen and (max-width: 480px) {
  .button--anker {
    width: 48%;
    padding: 4.68%;
    background-size: 6px 10px;
    background-position: top 50% left 15px;
    font-size: 1.6rem;
  }
}

.button--movie {
  width: 100%;
  margin-top: 20px;
  padding: 12px 0;
  background: url("../images/wh_btn_triangle.png") no-repeat;
  background-size: 8px;
  background-position: top 13px left 125px;
  border: 1px solid #fff;
  color: #fff;
  font-family: "Roboto Condensed", sans-serif;
  letter-spacing: 0;
}

.button--movie:hover {
  background-color: rgba(255, 255, 255, 0.1);
  transition: 0.5s;
}

@media screen and (max-width: 480px) {
  .button--movie {
    margin-top: 3.12%;
    padding: 3.12%;
    background-size: 5px 10px;
    background-position: top 45% left 33%;
    font-size: 1.2rem;
  }
}

.button--page-link {
  width: 350px;
  margin: 0 0 10px 60px;
  padding: 15px;
  border: 1px solid #111111;
  background: url("../images/page_link_arrow.png") no-repeat;
  background-position: 15px center;
  color: #111111;
}

.button--page-link:hover {
  background-color: rgba(17, 17, 17, 0.1);
  transition: 0.5s;
}

.button--page-link:last-child {
  margin-bottom: 0;
}

@media screen and (max-width: 480px) {
  .button--page-link {
    width: 90.62%;
    margin: 0 auto 3.125%;
    background: url("../images/wh_btn_arrow-left.png") no-repeat;
    background-color: #0a1e43;
    background-position: 5% center;
    background-size: 5px;
    color: #fff;
    font-size: 1.2rem;
    letter-spacing: 1px;
  }
}

.button--complete-img {
  margin-top: 20px;
  padding: 15px 0;
  border: 1px solid #e5e5e5;
  color: #111111;
}

@media screen and (max-width: 480px) {
  .button--complete-img {
    font-size: 1rem;
  }
}

.button--shirt-order {
  margin-top: 40px;
  padding: 18px 0;
  background: url(../images/wh_btn_arrow-right.png) no-repeat;
  background-color: #0a1e43;
  background-position: center right 28px;
  background-size: 20px 40px;
  color: #fff;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: bold;
  font-size: 2rem;
  text-align: center;
}

@media screen and (max-width: 480px) {
  .button--shirt-order {
    margin-top: 4.68%;
    padding: 3.59% 0;
    background-position: center right 4.68%;
    background-size: 12px 20px;
    font-size: 1rem;
  }
}

.button--shirt-order:hover {
  background-color: #112751;
  transition: 0.5s;
}

.button--shirt-order--main-text {
  color: #aaab6d;
  font-size: 4.2rem;
}

@media screen and (max-width: 480px) {
  .button--shirt-order--main-text {
    font-size: 2.1rem;
  }
}

.button--shops {
  width: 400px;
  margin: 20px auto 0;
  padding: 30px 0;
  background: url(../images/wh_btn_arrow-right.png) no-repeat;
  background-color: #aaab6d;
  background-position: center right 20px;
  background-size: 14px 23px;
  color: #fff;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: bold;
  font-size: 2rem;
  text-align: center;
}

@media screen and (max-width: 480px) {
  .button--shops {
    width: 100%;
    margin-top: 3.9%;
    padding: 5% 0;
    background-position: center right 4.68%;
    background-size: 12px 20px;
    font-size: 1.6rem;
  }
}

.button--shops:hover {
  background-color: #bcbd78;
  transition: 0.5s;
}

.scroll-arrow {
  margin-top: 105px;
  text-align: center;
}

@media screen and (max-width: 480px) {
  .scroll-arrow {
    margin-top: 9.37%;
  }
}

/*  suit header contents */
/*------------------
 content
------------------ */
.content {
  width: 1000px;
  margin: 0 auto;
}

.content--index {
  padding-top: 60px;
  padding-bottom: 80px;
}

@media screen and (max-width: 980px) {
  .content--index {
    width: 100%;
    padding: 9.375% 4.68%;
  }
}

.content--suit {
  padding-top: 60px;
}

@media screen and (max-width: 980px) {
  .content--suit {
    width: 100%;
    padding: 9.375% 4.68% 0;
  }
}

.content__title {
  padding-top: 55px;
  background: url("../images/title_icon.png") no-repeat;
  background-position: center 0;
  background-size: 70px 35px;
  font-size: 3rem;
  text-align: center;
}

@media screen and (max-width: 480px) {
  .content__title {
    font-size: 2.0rem;
  }
}

.content__title--white {
  color: #fff;
}

.content_text {
  margin-top: 36px;
  line-height: 1.75;
}

@media screen and (max-width: 480px) {
  .content_text {
    font-size: 1.3rem;
  }
}

.content_text--suit {
  width: 800px;
  margin: 36px auto;
}

@media screen and (max-width: 980px) {
  .content_text--suit {
    width: 100%;
    margin: 9.37% auto;
  }
}

/* ------------------
 LINE UP
------------------*/
.lineup-card-wrap {
  margin-top: 40px;
}

.lineup-card-wrap::after {
  content: "";
  display: block;
  clear: both;
}

.lineup-card {
  width: 480px;
  padding-bottom: 40px;
  background: #0a1e43;
}

@media screen and (max-width: 980px) {
  .lineup-card {
    width: 82.03%;
    margin: 0 auto;
    padding-bottom: 6.25%;
  }
}

.lineup-card--left {
  float: left;
}

@media screen and (max-width: 980px) {
  .lineup-card--left {
    float: none;
  }
}

.lineup-card--right {
  float: right;
}

@media screen and (max-width: 980px) {
  .lineup-card--right {
    float: none;
    margin-top: 9.37%;
  }
}

.lineup-card__thumb {
  width: 100%;
}

.lineup-card__item {
  margin-top: 40px;
  color: #aaab6d;
  font-size: 6.0rem;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: bold;
  text-align: center;
}

@media screen and (max-width: 480px) {
  .lineup-card__item {
    margin-top: 6.25%;
    font-size: 3.5rem;
  }
}

.lineup-card__item-text {
  margin-top: 20px;
  color: #fff;
  text-align: center;
}

@media screen and (max-width: 480px) {
  .lineup-card__item-text {
    margin-top: 3.12%;
    font-size: 1.3rem;
  }
}

/* button--detail */
.button--detail {
  width: 180px;
  margin: 20px auto 0;
  padding: 15px;
  background: url(../images/wh_btn_arrow.png) no-repeat;
  background-position: 13px 15px;
  background-size: 9px 15px;
  border: 1px solid #fff;
  color: #fff;
  font-size: 1.4rem;
}

.button--detail:hover {
  background-color: rgba(255, 255, 255, 0.1);
  transition: 0.5s;
}

@media screen and (max-width: 480px) {
  .button--detail {
    width: 83.33%;
    padding: 3.12%;
    background-position: 13px 50%;
    background-size: 5px 10px;
  }
}

/* ------------------
  parallax
------------------ */
.parallax {
  padding-top: 600px;
  background-position: center top;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

@media screen and (max-width: 980px) {
  .parallax {
    padding-top: 46.87%;
  }
  .parallax::before {
    content: "";
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    -webkit-transform: translate3d(0, 0, -1px);
    transform: translate3d(0, 0, -1px);
    width: 100%;
    min-height: 100%;
    -webkit-background-size: cover;
    background-size: cover;
    z-index: -1;
  }
}

.parallax.bg-01 {
  background-image: url(../images/parallax_bg01.jpg);
  background-position: left 28% top;
}

.parallax.bg-02 {
  background-image: url(../images/parallax_bg02.jpg);
}

/* ------------------
  suit page
------------------ */
.cloth-lineup {
  margin: 40px 0 0;
}

.cloth-lineup::after {
  content: "";
  display: block;
  clear: both;
}

@media screen and (max-width: 980px) {
  .cloth-lineup {
    width: 100%;
  }
}

.cloth-lineup__unit {
  float: left;
  width: 300px;
  margin: 0 50px 50px 0;
}

@media screen and (max-width: 980px) {
  .cloth-lineup__unit {
    width: 47%;
    margin-bottom: 9.37%;
    font-size: 1.3rem;
  }
  .cloth-lineup__unit:nth-child(odd) {
    margin-right: 6%;
  }
  .cloth-lineup__unit:nth-child(even) {
    margin-right: 0;
  }
}

@media screen and (min-width: 769px) {
  .cloth-lineup__unit:nth-child(3n) {
    margin-right: 0;
  }
}

.cloth-lineup__unit__img-box {
  position: relative;
  height: 100%;
  padding-top: 53.33%;
  overflow: hidden;
}

.cloth-lineup__unit__icon {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 32px;
  z-index: 10;
}

.cloth-lineup__unit__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.cloth-lineup__unit__detail--cloth-name {
  margin-top: 20px;
  font-weight: bold;
}

.cloth-lineup__unit__detail--price {
  margin-top: 10px;
  font-weight: bold;
}

.cloth-lineup__unit__detail--description {
  margin-top: 20px;
  line-height: 1.75;
}

/* スタイル選択 */
.suit-style-wrap {
  margin-bottom: 36px;
}

.suit-style-wrap::after {
  content: "";
  display: block;
  clear: both;
}

.suit-style {
  float: left;
  width: 300px;
  margin-right: 50px;
}

@media screen and (max-width: 980px) {
  .suit-style {
    width: 100%;
    margin-bottom: 1.56%;
  }
}

@media screen and (min-width: 481px) {
  .suit-style:nth-child(3) {
    margin-right: 0;
  }
}

.suit-style__heading {
  padding: 15px 0;
  background: #00102d;
  color: #fff;
  text-align: center;
}

@media screen and (max-width: 980px) {
  .suit-style__heading {
    margin-bottom: 3.125%;
    padding: 2.81% 0;
  }
}

.suit-style__img-pc {
  width: 100%;
}

@media screen and (max-width: 980px) {
  .suit-style__img-pc {
    display: none;
  }
}

.suit-style__img-sp {
  display: none;
}

@media screen and (max-width: 980px) {
  .suit-style__img-sp {
    display: block;
    width: 100%;
  }
}

/* オプション */
.options {
  margin-bottom: 60px;
}

.options::after {
  content: "";
  display: block;
  clear: both;
}

@media screen and (max-width: 980px) {
  .options {
    margin-bottom: 9.37%;
  }
}

.options__heading {
  margin-bottom: 20px;
  padding: 12px 0;
  border: 1px solid #aaab6d;
  color: #aaab6d;
  text-align: center;
}

@media screen and (max-width: 980px) {
  .options__heading {
    padding: 2.3%;
    font-size: 1.3rem;
  }
}

.options__unit {
  width: 323px;
  float: left;
  margin-right: 15px;
}

@media screen and (min-width: 481px) {
  .options__unit:last-child {
    margin-right: 0;
  }
}

@media screen and (max-width: 980px) {
  .options__unit {
    float: none;
    width: 100%;
    margin-right: 0;
  }
}

.options__unit__img {
  width: 100%;
}

/* オーダーの流れ */
.order-flow::after {
  content: "";
  display: block;
  clear: both;
}

.order-flow__unit {
  width: 480px;
  margin-bottom: 40px;
}

.order-flow__unit::after {
  content: "";
  display: block;
  clear: both;
}

.order-flow__unit:nth-child(odd) {
  float: left;
}

@media screen and (max-width: 980px) {
  .order-flow__unit:nth-child(odd) {
    float: none;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (max-width: 480px) {
  .order-flow__unit:nth-child(odd) {
    float: none;
    width: 100%;
  }
}

.order-flow__unit:nth-child(even) {
  float: right;
}

@media screen and (max-width: 980px) {
  .order-flow__unit:nth-child(even) {
    float: none;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (max-width: 480px) {
  .order-flow__unit:nth-child(even) {
    float: none;
    width: 100%;
  }
}

.order-flow__unit--imgbox {
  float: left;
  width: 150px;
}

@media screen and (max-width: 480px) {
  .order-flow__unit--imgbox {
    width: 30%;
  }
}

.order-flow__unit--imgbox__img {
  width: 100%;
}

.order-flow__unit--contentbox {
  float: right;
}

@media screen and (max-width: 480px) {
  .order-flow__unit--contentbox {
    width: 66%;
  }
}

.order-flow__unit__heading {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: bold;
  color: #aaab6d;
  font-size: 2rem;
}

@media screen and (max-width: 480px) {
  .order-flow__unit__heading {
    font-size: 1.5rem;
  }
}

.order-flow__unit__step {
  color: #0a1e43;
  font-size: 2rem;
  font-weight: bold;
  margin: 10px 0 20px;
}

@media screen and (max-width: 480px) {
  .order-flow__unit__step {
    font-size: 1.5rem;
    margin: 2.34% 0;
  }
}

.order-flow__unit__text {
  width: 310px;
  line-height: 1.75;
}

@media screen and (max-width: 480px) {
  .order-flow__unit__text {
    width: 100%;
    font-size: 1rem;
    line-height: 1.6;
  }
}

/* ------------------
  バナーエリア
------------------ */
.banner-box {
  text-align: center;
}

.banner-box__pc-banner {
  background: #fff;
}

.banner-box__pc-banner--size {
  width: 100%;
}

.banner-box__pc-banner--size:hover {
  opacity: 0.8;
  transition: 0.5s;
}

@media screen and (max-width: 980px) {
  .banner-box__pc-banner {
    display: none;
  }
}

.banner-box__sp-banner {
  display: none;
}

.banner-box__sp-banner--size {
  width: 100%;
}

@media screen and (max-width: 980px) {
  .banner-box__sp-banner {
    display: block;
    width: 100%;
  }
}

.shop-info {
  margin-top: 75px;
  color: #fff;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
}

@media screen and (max-width: 480px) {
  .shop-info {
    margin-top: 9.37%;
    font-size: 1.6rem;
  }
}

/* ------------------
  footer
------------------*/
.footer {
  padding: 100px 0 40px;
  background: #00102d;
}

@media screen and (max-width: 480px) {
  .footer {
    padding: 14.84% 0 6.25%;
  }
}

.footer_nav__list {
  width: 403px;
  margin: 0 auto;
}

.footer_nav__list::after {
  content: "";
  display: block;
  clear: both;
}

@media screen and (max-width: 480px) {
  .footer_nav__list {
    width: 100%;
  }
}

.footer_nav__list__list-item {
  float: left;
  padding: 0 1rem;
  border-left: 1px solid #fff;
  font-size: 1.4rem;
}

.footer_nav__list__list-item:last-child {
  border-right: 1px solid #fff;
}

@media screen and (max-width: 480px) {
  .footer_nav__list__list-item:last-child {
    border: none;
  }
}

@media screen and (max-width: 480px) {
  .footer_nav__list__list-item {
    float: none;
    border: none;
    font-size: 1.2rem;
    text-align: center;
    line-height: 2.5;
  }
}

.footer_nav__list__list-item a {
  color: #fff;
}

.footer_nav__list__list-item a:hover {
  text-decoration: underline;
}

.copyright {
  margin-top: 36px;
  color: #fff;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 1.4rem;
  text-align: center;
}

@media screen and (max-width: 480px) {
  .copyright {
    margin-top: 9.37%;
    font-size: 1rem;
  }
}

/* ------------------
 pagetop-button
------------------ */
.pagetop-button {
  position: absolute;
  bottom: 20px;
  right: 20px;
  padding: 28px 17px;
  background: #0a1e43;
}

@media screen and (max-width: 980px) {
  .pagetop-button {
    padding: 4.37% 2.18%;
  }
}

/* ------------------
 utility
------------------ */
.mb0 {
  margin-bottom: 0;
}

.mr0 {
  margin-right: 0;
}

.f-left {
  float: left;
}

.f-right {
  float: right;
}

@media screen and (max-width: 480px) {
  .pc-display {
    display: none;
  }
}

.sp-display {
  display: none;
}

@media screen and (max-width: 480px) {
  .sp-display {
    display: block;
  }
}
