/* ------------------
-buttons
------------------ */
.button {
  text-align: center;

  &--anker { //indexページTOP内 LINE UP へのスクロールボタン
    width: 170px;
    padding: 15px 0;
    background: $c_white;
    background-image: url('#{$img_path}bk_btn_arrow.png');
    background-size: 8px 15px;
    background-position: top 17px left 15px;
    background-repeat: no-repeat;
    font-family: $google_font;
    font-size: 20px;
    font-weight: bold;
    color: $c_main;
    &:hover {
      @include hover-opacity;
    }
    @include media {
      width: 48%;
      @include sp-size(padding, 30)
      background-size: 6px 10px;
      background-position: top 50% left 15px;
      font-size: 1.6rem;
    }
  }

  &--movie { //indexページTOP内 動画再生ボタン
    width: 100%;
    margin-top: 20px;
    padding: 12px 0;
    background: url('#{$img_path}wh_btn_triangle.png') no-repeat;
    background-size: 8px;
    background-position: top 13px left 125px;
    border: 1px solid $c_white;
    color: $c_white;
    font-family: $google_font;
    letter-spacing: 0;
    &:hover {
      @include hover-anime-wh;
    }
    @include media {
      @include sp-size(margin-top, 20);
      @include sp-size(padding, 20);
      background-size: 5px 10px;
      background-position: top 45% left 33%;
      font-size: 1.2rem;
    }
  }

  &--detail { //index page下部 「詳しくはこちら」
    width: 180px;
    margin: 20px auto 0;
    padding: 15px;
    background: url(#{$img_path}wh_btn_arrow.png) no-repeat;
    background-position: 13px 15px;
    background-size: 9px 15px;
    border: 1px solid $c_white;
    color: $c_white;
    font-size: 1.4rem;

    &:hover {
      @include hover-anime-wh;
    }

    @include media(sp) {
      width: 83.33%;
      @include sp-size(padding, 20)
      background-position: 13px 50%;
      background-size: 5px 10px;
    }

  }

  &--page-link { //suit page top内ボタン
    width: 350px;
    margin: 0 0 10px 60px;
    padding: 15px;
    border: 1px solid $c_main;
    background: url('#{$img_path}page_link_arrow.png') no-repeat;
    background-position: 15px center;
    color: $c_main;
    &:hover {
      @include hover-anime-bk;
    }
    &:last-child {
      margin-bottom: 0;
    }
    @include media(sp) {
      @include sp-size(width, 580);
      margin: 0 auto 3.125%;
      background: url('#{$img_path}wh_btn_arrow-left.png') no-repeat;
      background-color: $c_dark-blue;
      background-position: 5% center;
      background-size: 5px;
      color: $c_white;
      font-size: 1.2rem;
      letter-spacing: 1px;
    }
  }

  &--complete-img { //仕上がりイメージボタン
    margin-top: 20px;
    padding: 15px 0;
    border: 1px solid #e5e5e5;
    color: $c_main;
    @include media (sp) {
      font-size: 1rem;
    }
  }

  &--shirt-order { //suit page下部 シャツオーダーボタン
    margin-top: 40px;
    padding: 18px 0;
    background: url(#{$img_path}wh_btn_arrow-right.png) no-repeat;
    background-color: $c_dark-blue;
    background-position: center right 28px;
    background-size: 20px 40px;
    color: $c_white;
    @include title-font;
    font-size: 2rem;
    text-align: center;
    @include media(sp) {
      margin-top: 4.68%;
      padding: 3.59% 0;
      background-position: center right 4.68%;
      background-size: 12px 20px;
      font-size: 1rem;
    }
    &:hover {
      background-color: $c_dark-blue-lighten;
      transition: 0.5s;
    }
    &--main-text {
      color: $c_gold;
      font-size: 4.2rem;
      @include media(sp) {
        font-size: 2.1rem;
      }
    }
  }

  &--shops { //suit page下部 店舗案内ボタン
    width: 400px;
    margin: 20px auto 0;
    padding: 30px 0;
    background: url(#{$img_path}wh_btn_arrow-right.png) no-repeat;
    background-color: $c_gold;
    background-position: center right 20px;
    background-size: 14px 23px;
    color: $c_white;
    @include title-font;
    font-size: 2rem;
    text-align: center;
    @include media(sp) {
      width: 100%;
      margin-top: 3.9%;
      padding: 5% 0;
      background-position: center right 4.68%;
      background-size: 12px 20px;
      font-size: 1.6rem;
    }
    &:hover {
      background-color: $c_gold_lighten;
      transition: 0.5s;
    }
  }
}

/* スクロール用 */
.scroll-arrow {
  margin-top: 105px;
  text-align: center;
  @include media {
    @include sp-size(margin-top, 60)
  }
}

/*  ページトップボタン  */
.pagetop-button {
  position: absolute;
  bottom: 20px;
  right: 20px;
  padding: 28px 17px;
  background: $c_dark-blue;
  @include media(tab) {
    padding: 4.37% 2.18%;
  }
}
