.header-bg {
   background: $c_bg;
 }
.header {
  min-width: $base_width;
  padding-bottom: 40px;
  background: $c_bg;
  @include media {
    min-width: $responsive_width;
    @include sp-size(padding-bottom, 30);
  }
  @include media(tab) {
    min-width: $responsive_width;
  }
  &__index-inner {
    @include pc-container;
    @include media(tab) {
      width: $responsive_width;
    }
  }
  &--index_header {
    background: url('#{$img_path}top_main_visual_pc.jpg') no-repeat center top;
    background-size: cover;
    @include media {
      background: url('#{$img_path}top_main_visual_sp.jpg') no-repeat center top;
      background-size: cover;
    }
  }

  &--suit_header {
    background: url('#{$img_path}suit_main_visual_pc.jpg') no-repeat center top;
    background-size: cover;
    @include media(tab) {
      background: url('#{$img_path}suit_main_visual_pc.jpg') no-repeat center top;
      background-position: 42% 15%;
      background-size: cover;
    }
    @include media(sp) {
      background: url('#{$img_path}suit_main_visual_pc.jpg') no-repeat center top;
      background-position: center 15%;
      background-size: contain;
    }
  }
}

/* around logo */
.headline {
  @include clearfix;
  &--index-bg {
    padding: 15px;
  }
  &--suit-bg {
    padding: 15px;
    background: $c_bg;
  }
}

.pc-company-logo {
  float: left;
  width: 91px;
  @include media {
    width: 77px;
  }
}

.social-icons {
  float: right;
  width: 107px;
  list-style: none;
  @include media {
    width: 88px;
  }
}

.social-icons_item {
  float: left;
  width: 24px;
  &:last-child {
    width: 29px;
  }
  &:nth-child(2){
    margin: 0 15px;
    @include media {
      margin: 0 3.12%;
    }
  }
}

.logo {
  width: 91px;
  margin-top: 5px;
  @include media {
    width: 68px;
  }
}

.twitter-icon,
.fb-icon,
.youtube-icon {
 width: 100%;
 &:hover {
   @include hover-opacity;
 }
}

/* index header contents */
.sp-title-wrap {
  display: none;
  @include media(sp) {
    display: block;
    padding-bottom: 10%;
  }
}
.page-title {
  @include title-font;
  &--index-pc {
    margin-top: 298px;
    color: $c_white;
    font-size: 8.8rem;
    text-align: center;
    @include media(tab) {
      font-size: 6.5rem;
    }
    @include media(sp) {
      display: none;
    }
  }
  &--index-sp {
    display: none;
    @include media(sp) {
      display: block;
      @include sp-size(margin-top, 128);
      color: $c_white;
      font-size: 5.25rem;
      @include title-font;
      text-align: center;
    }
  }
  &--suit-sub-pc {
    width: 215px;
    margin-top: 80px;
    margin-left: 60px;
    font-size: 2.0rem;
    @include media(sp) {
      display: none;
    }
  }
  &--suit-pc {
    width: 215px;
    margin-left: 60px;
    font-size: 11.5rem;
    @include media(tab) {
      font-size: 6.5rem;
    }
    @include media(sp) {
      display: none;
    }
  }
  &--suit-sub-sp {
      @include sp-size(margin-top, 90);
      @include sp-size(margin-left, 50);
      font-size: 1rem;
  }
  &--suit-sp {
      @include sp-size(margin-left, 50);
      font-size: 5.25rem;
      @include title-font;
    }
}

.page-title-text {
  margin-top: 36px;
  color: $c_white;
  font-weight: 600;
  line-height: 1.9;
  text-align: center;
  @include media {
    @include sp-size(margin-top, 30)
    font-size: 1rem;
    line-height: 1.8;
  }
}

.suit-title-text {
  margin: 40px 0 25px 60px;
  font-weight: 600;
  line-height: 2;
  @include media(sp) {
    color: $c_light-gray;
    margin: 5% 4.68%;
    font-size: $sp_base_font_size;
  }
}

.button-block {
  width: 360px;
  margin: 68px auto 0;
  @include media {
    @include sp-size(margin-top, 58)
    @include sp-size(width, 525)
  }
}

.button-wrap {
  @include clearfix;
}
