// SETTINGS INDEX
// ------------------
// -variables
// ------------------
// --colors
// --font
// --line-heigt
// --path
// --width
// --breakpoint

// -mixin

// ------------------
// -variables
// ------------------
// --colors
$c_main: #111111;
$c_bg: #00102d;
$c_white: #fff;
$c_gold: #aaab6d;
$c_gold-lighten: #bcbd78;
$c_dark-blue: #0a1e43;
$c_dark-blue-lighten: #112751;
$c_light-gray: #b5b5b5;

// --font
$base_font_size: 1.6rem;
$sp_base_font_size: 1.3rem;
$page_google_font_size: 8.8rem;
$base_font_family: "ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","メイリオ",Meiryo,"ＭＳ Ｐゴシック","MS PGothic",sans-serif;
$google_font: 'Roboto Condensed', sans-serif;
$google_font_bold: 'Roboto Condensed', sans-serif;

// --line-heigt
$base_line_height: 1.75;
// --path
$img_path: "../images/";

// --width
$base_width: 1000px;
$responsive_width: 100%;

$sp_calc_width: 640px;

// --breakpoint
$breakpoints: (
  'sp': 'screen and (max-width: 480px)',
  'tab': 'screen and (max-width: 980px)',
) !default;

// ------------------
// -mixin
// ------------------
@mixin title-font {
  font-family: $google_font_bold;
  font-weight: bold;
}
@mixin clearfix {
  &::after {
    content: "";
    display: block;
    clear: both;
  }
}

@mixin pc-container {
  width: 1000px;
  margin: 0 auto;
}

@mixin hover-opacity {
  opacity: 0.8;
  transition: 0.5s;
}

@mixin hover-anime-wh {
  background-color: rgba(255, 255, 255, 0.1);
  transition: 0.5s;
}

@mixin hover-anime-bk {
  background-color: rgba(17, 17, 17, 0.1);
  transition: 0.5s;
}

@mixin sp-size($property,$psdWidth) {
  #{$property}: floor(((($psdWidth) / 640 ) * 10000% )) / 100;
}

@mixin media($breakpoint: sp) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}
