// suit page

.cloth-lineup {
  margin: 40px 0 0;
  @include clearfix;
  @include media(tab) {
    width: $responsive_width;
  }
  &__unit {
    float: left;
    width: 300px;
    margin: 0 50px 50px 0;
    @include media(tab) {
      width: 47%;
      margin-bottom: 9.37%;
      font-size: $sp_base_font_size;
      &:nth-child(odd) {
        margin-right: 6%;
      }
      &:nth-child(even) {
        margin-right: 0;
      }
    }
    @media screen and (min-width: 769px) {
      &:nth-child(3n) {
        margin-right: 0;
      }
    }
    &__img-box {
      position: relative;
      height: 100%;
      padding-top: 53.33%;
      overflow: hidden;
    }
    &__icon {
      position: absolute;
      bottom: 0;
      right: 0;
      width: 32px;
      z-index: 2;
    }
    &__img {
      position: absolute;
    	top: 0;
    	left: 0;
    	width: 100%;
    	height: 100%;
    }
    &__detail {
      &--cloth-name {
        margin-top: 20px;
        font-weight: bold;
      }
      &--price {
        margin-top: 10px;
        font-weight: bold;
      }
      &--description {
        margin-top: 20px;
        line-height: $base_line_height;
      }
    }
  }
}

/* スタイル選択 */
.suit-style-wrap {
  @include clearfix;
  margin-bottom: 36px;
}
.suit-style {
  float: left;
  width: 300px;
  margin-right: 50px;
  @include media (tab) {
    width: $responsive_width;
    margin-bottom: 1.56%;
  }
  @media screen and (min-width: 481px) {
    &:nth-child(3) {
      margin-right: 0;
    }
  }
  &__heading {
    padding: 15px 0;
    background: $c_bg;
    color: $c_white;
    text-align: center;
    @include media (tab) {
      margin-bottom: 3.125%;
      padding:2.81% 0;
    }
  }
  &__img-pc {
    width: 100%;
    @include media(tab) {
      display: none;
    }
  }
  &__img-sp {
    display: none;
    @include media(tab) {
      display: block;
      width: 100%;
    }
  }
}

/* オプション */
.options {
  @include clearfix;
  margin-bottom: 60px;
  @include media(tab) {
    margin-bottom: 9.37%;
  }
  &__heading {
    margin-bottom: 20px;
    padding: 12px 0;
    border: 1px solid $c_gold;
    color: $c_gold;
    text-align: center;
    @include media(tab) {
      padding: 2.3%;
      font-size: $sp_base_font_size;
    }
  }
  &__unit {
    width: 323px;
    float: left;
    margin-right: 15px;
    @media screen and (min-width: 481px) {
      &:last-child {
        margin-right: 0;
      }
    }
    @include media(tab) {
      float: none;
      width: $responsive_width;
      margin-right: 0;
    }
    &__img {
      width: 100%;
    }
  }
}

/* オーダーの流れ */
.order-flow {
  @include clearfix;
  &__unit {
    @include clearfix;
    width: 480px;
    margin-bottom: 40px;
    &:nth-child(odd) {
      float: left;
      @include media(tab) {
        float: none;
        margin-left: auto;
        margin-right: auto;
      }
      @include media(sp) {
        float: none;
        width: $responsive_width;
      }
    }
    &:nth-child(even) {
      float: right;
      @include media(tab) {
        float: none;
        margin-left: auto;
        margin-right: auto;
      }
      @include media(sp) {
        float: none;
        width: $responsive_width;
      }
    }
    &--imgbox {
      float: left;
      width: 150px;
      @include media(sp) {
        width: 30%;
      }
      &__img {
        width: 100%;
      }
    }
    &--contentbox {
      float: right;
      @include media(sp) {
        width: 66%;
      }
    }

    &__heading {
      @include title-font;
      color: $c_gold;
      font-size: 2rem;
      @include media(sp) {
        font-size: 1.5rem;
      }
    }
    &__step {
      color: $c_dark-blue;
      font-size: 2rem;
      font-weight: bold;
      margin: 10px 0 20px;
      @include media(sp) {
        font-size: 1.5rem;
        margin: 2.34% 0;
      }
    }
    &__text {
      width: 310px;
      line-height: $base_line_height;
      @include media(sp) {
        width: $responsive_width;
        font-size: 1rem;
        line-height: 1.6;
      }
    }
  }
}

/* ------------------
  バナーエリア
------------------ */

.banner-box {
  text-align: center;
  &__pc-banner {
    background: $c_white;
    &--size {
      width: 100%;
      &:hover {
        @include hover-opacity;
      }
    }
    @include media(tab) {
      display: none;
    }
  }
  &__sp-banner {
    &--size {
      width: 100%;
    }
    display: none;
    @include media(tab) {
      display: block;
      width: $responsive_width;
    }
  }
}

.shop-info {
  margin-top: 75px;
  color: $c_white;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  @include media(sp) {
    margin-top: 9.37%;
    font-size: 1.6rem;
  }
}
