//INDEX
// -settings
// -common
// -index
// -suit

// ------------------
//  -settings
// ------------------
@import 'settings.scss';

/* ---------------
-common
--------------- */
html {
  height: 100%;
  font-size: 62.5%;
}

body {
  position: relative;
  color: $c_main;
  font-family: $base_font_family;
  font-size: $base_font_size;
}

* {
  box-sizing: border-box;
}

a {
  display: block;
  text-decoration: none;
}

img {
  vertical-align: bottom;
}

.container {
  background: $c_white;
}

.lineup-container {
  background: $c_bg;
}

/* --------------
 header
 -------------- */
.header-bg {
   background: $c_bg;
 }
.header {
  min-width: $base_width;
  padding-bottom: 40px;
  background: $c_bg;
  @include media {
    min-width: $responsive_width;
    @include sp-size(padding-bottom, 30);
  }
  @include media(tab) {
    min-width: $responsive_width;
  }
  &__index-inner {
    @include pc-container;
    @include media(tab) {
      width: $responsive_width;
    }
  }
  &--index_header {
    background: url('#{$img_path}top_main_visual_pc.jpg') no-repeat center top;
    background-size: cover;
    @include media {
      background: url('#{$img_path}top_main_visual_sp.jpg') no-repeat center top;
      background-size: cover;
    }
  }

  &--suit_header {
    background: url('#{$img_path}suit_main_visual_pc.jpg') no-repeat center top;
    background-size: cover;
    @include media(tab) {
      background: url('#{$img_path}suit_main_visual_pc.jpg') no-repeat center top;
      background-position: 42% 15%;
      background-size: cover;
    }
    @include media(sp) {
      background: url('#{$img_path}suit_main_visual_pc.jpg') no-repeat center top;
      background-position: center 15%;
      background-size: contain;
    }
  }
}

/* around logo */
.headline {
  @include clearfix;
  &--index-bg {
    padding: 15px;
  }
  &--suit-bg {
    padding: 15px;
    background: $c_bg;
  }
}

.pc-company-logo {
  float: left;
  width: 91px;
  @include media {
    width: 77px;
  }
}

.social-icons {
  float: right;
  width: 107px;
  list-style: none;
  @include media {
    width: 88px;
  }
}

.social-icons_item {
  float: left;
  width: 24px;
  &:last-child {
    width: 29px;
  }
  &:nth-child(2){
    margin: 0 15px;
    @include media {
      margin: 0 3.12%;
    }
  }
}

.logo {
  width: 91px;
  margin-top: 5px;
  @include media {
    width: 68px;
  }
}

.twitter-icon,
.fb-icon,
.youtube-icon {
 width: 100%;
 &:hover {
   @include hover-opacity;
 }
}

/* index header contents */
.sp-title-wrap {
  display: none;
  @include media(sp) {
    display: block;
    padding-bottom: 10%;
  }
}
.page-title {
  @include title-font;
  &--index-pc {
    margin-top: 298px;
    color: $c_white;
    font-size: 8.8rem;
    text-align: center;
    @include media(tab) {
      font-size: 6.5rem;
    }
    @include media(sp) {
      display: none;
    }
  }
  &--index-sp {
    display: none;
    @include media(sp) {
      display: block;
      @include sp-size(margin-top, 128);
      color: $c_white;
      font-size: 5.25rem;
      @include title-font;
      text-align: center;
    }
  }
  &--suit-sub-pc {
    width: 215px;
    margin-top: 80px;
    margin-left: 60px;
    font-size: 2.0rem;
    @include media(sp) {
      display: none;
    }
  }
  &--suit-pc {
    width: 215px;
    margin-left: 60px;
    font-size: 11.5rem;
    @include media(tab) {
      font-size: 6.5rem;
    }
    @include media(sp) {
      display: none;
    }
  }
  &--suit-sub-sp {
      @include sp-size(margin-top, 90);
      @include sp-size(margin-left, 50);
      font-size: 1rem;
  }
  &--suit-sp {
      @include sp-size(margin-left, 50);
      font-size: 5.25rem;
      @include title-font;
    }
}

.page-title-text {
  margin-top: 36px;
  color: $c_white;
  font-weight: 600;
  line-height: 1.9;
  text-align: center;
  @include media {
    @include sp-size(margin-top, 30)
    font-size: 1rem;
    line-height: 1.8;
  }
}

.suit-title-text {
  margin: 40px 0 25px 60px;
  font-weight: 600;
  line-height: 2;
  @include media(sp) {
    color: $c_light-gray;
    margin: 5% 4.68%;
    font-size: $sp_base_font_size;
  }
}

.button-block {
  width: 360px;
  margin: 68px auto 0;
  @include media {
    @include sp-size(margin-top, 58)
    @include sp-size(width, 525)
  }
}

.button-wrap {
  @include clearfix;
}

.button {
  text-align: center;

  &--anker {
    width: 170px;
    padding: 15px 0;
    background: $c_white;
    background-image: url('#{$img_path}bk_btn_arrow.png');
    background-size: 8px 15px;
    background-position: top 17px left 15px;
    background-repeat: no-repeat;
    font-family: $google_font;
    font-size: 20px;
    font-weight: bold;
    color: $c_main;
    &:hover {
      @include hover-opacity;
    }
    @include media {
      width: 48%;
      @include sp-size(padding, 30)
      background-size: 6px 10px;
      background-position: top 50% left 15px;
      font-size: 1.6rem;
    }
  }

  &--movie {
    width: 100%;
    margin-top: 20px;
    padding: 12px 0;
    background: url('#{$img_path}wh_btn_triangle.png') no-repeat;
    background-size: 8px;
    background-position: top 13px left 125px;
    border: 1px solid $c_white;
    color: $c_white;
    font-family: $google_font;
    letter-spacing: 0;
    &:hover {
      @include hover-anime-wh;
    }
    @include media {
      @include sp-size(margin-top, 20);
      @include sp-size(padding, 20);
      background-size: 5px 10px;
      background-position: top 45% left 33%;
      font-size: 1.2rem;
    }
  }

  &--page-link {
    width: 350px;
    margin: 0 0 10px 60px;
    padding: 15px;
    border: 1px solid $c_main;
    background: url('#{$img_path}page_link_arrow.png') no-repeat;
    background-position: 15px center;
    color: $c_main;
    &:hover {
      @include hover-anime-bk;
    }
    &:last-child {
      margin-bottom: 0;
    }
    @include media(sp) {
      @include sp-size(width, 580);
      margin: 0 auto 3.125%;
      background: url('#{$img_path}wh_btn_arrow-left.png') no-repeat;
      background-color: $c_dark-blue;
      background-position: 5% center;
      background-size: 5px;
      color: $c_white;
      font-size: 1.2rem;
      letter-spacing: 1px;
    }
  }

  &--complete-img {
    margin-top: 20px;
    padding: 15px 0;
    border: 1px solid #e5e5e5;
    color: $c_main;
    @include media (sp) {
      font-size: 1rem;
    }
  }

  &--shirt-order {
    margin-top: 40px;
    padding: 18px 0;
    background: url(#{$img_path}wh_btn_arrow-right.png) no-repeat;
    background-color: $c_dark-blue;
    background-position: center right 28px;
    background-size: 20px 40px;
    color: $c_white;
    @include title-font;
    font-size: 2rem;
    text-align: center;
    @include media(sp) {
      margin-top: 4.68%;
      padding: 3.59% 0;
      background-position: center right 4.68%;
      background-size: 12px 20px;
      font-size: 1rem;
    }
    &:hover {
      background-color: $c_dark-blue-lighten;
      transition: 0.5s;
    }
    &--main-text {
      color: $c_gold;
      font-size: 4.2rem;
      @include media(sp) {
        font-size: 2.1rem;
      }
    }
  }

  &--shops {
    width: 400px;
    margin: 20px auto 0;
    padding: 30px 0;
    background: url(#{$img_path}wh_btn_arrow-right.png) no-repeat;
    background-color: $c_gold;
    background-position: center right 20px;
    background-size: 14px 23px;
    color: $c_white;
    @include title-font;
    font-size: 2rem;
    text-align: center;
    @include media(sp) {
      width: 100%;
      margin-top: 3.9%;
      padding: 5% 0;
      background-position: center right 4.68%;
      background-size: 12px 20px;
      font-size: 1.6rem;
    }
    &:hover {
      background-color: $c_gold_lighten;
      transition: 0.5s;
    }
  }
}

.scroll-arrow {
  margin-top: 105px;
  text-align: center;
  @include media {
    @include sp-size(margin-top, 60)
  }
}

/*  suit header contents */
.suit-page-title-pc {

}

/*------------------
 content
------------------ */
.content {
  @include pc-container;
  &--index {
    padding-top: 60px;
    padding-bottom: 80px;
    @include media(tab) {
      width: $responsive_width;
      padding: 9.375% 4.68%;
    }
  }
  &--suit {
    padding-top: 60px;
    @include media(tab) {
      width: $responsive_width;
      padding: 9.375% 4.68% 0;
    }
  }

  &__title {
    padding-top: 55px;
    background: url('#{$img_path}title_icon.png') no-repeat;
    background-position: center 0;
    background-size: 70px 35px;
    font-size: 3rem;
    text-align: center;
    @include media(sp) {
      font-size: 2.0rem;
    }

    &--white {
      color: $c_white;
    }
  }

}

.content_text {
  margin-top: 36px;
  line-height: $base_line_height;
  @include media(sp) {
    font-size: $sp_base_font_size;
  }
  &--suit {
    width: 800px;
    margin: 36px auto;
    @include media(tab) {
      width: $responsive_width;
      margin: 9.37% auto;
    }
  }
}

/* ------------------
 LINE UP
------------------*/
.lineup-card-wrap {
  margin-top: 40px;
  @include clearfix;
}

.lineup-card {
  width: 480px;
  padding-bottom: 40px;
  background: $c_dark-blue;
  @include media(tab) {
    @include sp-size(width, 525)
    margin: 0 auto;
    @include sp-size(padding-bottom, 40)
  }

  &--left {
    float: left;
    @include media(tab) {
      float: none;
    }
  }

  &--right {
    float: right;
    @include media(tab) {
      float: none;
      @include sp-size(margin-top, 60)
    }
  }

  &__thumb {
    width: 100%;
  }

  &__item {
    margin-top: 40px;
    color: $c_gold;
    font-size: 6.0rem;
    @include title-font;
    text-align: center;
    @include media(sp) {
      @include sp-size(margin-top, 40)
      font-size: 3.5rem;
    }
  }

  &__item-text {
    margin-top: 20px;
    color: $c_white;
    text-align: center;
    @include media(sp) {
      @include sp-size(margin-top, 20)
      font-size: $sp_base_font_size;
    }
  }

}

/* button--detail */
.button--detail {
  width: 180px;
  margin: 20px auto 0;
  padding: 15px;
  background: url(#{$img_path}wh_btn_arrow.png) no-repeat;
  background-position: 13px 15px;
  background-size: 9px 15px;
  border: 1px solid $c_white;
  color: $c_white;
  font-size: 1.4rem;

  &:hover {
    @include hover-anime-wh;
  }

  @include media(sp) {
    width: 83.33%;
    @include sp-size(padding, 20)
    background-position: 13px 50%;
    background-size: 5px 10px;
  }

}

/* ------------------
  parallax
------------------ */
.parallax {
    padding-top: 600px;
    background-position: center top;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    @include media(tab) {
      padding-top: 46.87%;
        &::before {
        content: "";
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        -webkit-transform: translate3d(0, 0, -1px);
        transform: translate3d(0, 0, -1px);
        width: 100%;
        min-height: 100%;
        -webkit-background-size: cover;
        background-size: cover;
        z-index: -1;
      }
    }
}

.parallax.bg-01 {
    background-image: url(../images/parallax_bg01.jpg);
    background-position: left 28% top;
}
.parallax.bg-02 {
    background-image: url(../images/parallax_bg02.jpg);
}

/* ------------------
  suit page
------------------ */

.cloth-lineup {
  margin: 40px 0 0;
  @include clearfix;
  @include media(tab) {
    width: $responsive_width;
  }
  &__unit {
    float: left;
    width: 300px;
    margin: 0 50px 50px 0;
    @include media(tab) {
      width: 47%;
      margin-bottom: 9.37%;
      font-size: $sp_base_font_size;
      &:nth-child(odd) {
        margin-right: 6%;
      }
      &:nth-child(even) {
        margin-right: 0;
      }
    }
    @media screen and (min-width: 769px) {
      &:nth-child(3n) {
        margin-right: 0;
      }
    }
    &__img-box {
      position: relative;
      height: 100%;
      padding-top: 53.33%;
      overflow: hidden;
    }
    &__icon {
      position: absolute;
      bottom: 0;
      right: 0;
      width: 32px;
      z-index: 10;
    }
    &__img {
      position: absolute;
    	top: 0;
    	left: 0;
    	width: 100%;
    	height: 100%;
    }
    &__detail {
      &--cloth-name {
        margin-top: 20px;
        font-weight: bold;
      }
      &--price {
        margin-top: 10px;
        font-weight: bold;
      }
      &--description {
        margin-top: 20px;
        line-height: $base_line_height;
      }
    }
  }
}

/* スタイル選択 */
.suit-style-wrap {
  @include clearfix;
  margin-bottom: 36px;
}
.suit-style {
  float: left;
  width: 300px;
  margin-right: 50px;
  @include media (tab) {
    width: $responsive_width;
    margin-bottom: 1.56%;
  }
  @media screen and (min-width: 481px) {
    &:nth-child(3) {
      margin-right: 0;
    }
  }
  &__heading {
    padding: 15px 0;
    background: $c_bg;
    color: $c_white;
    text-align: center;
    @include media (tab) {
      margin-bottom: 3.125%;
      padding:2.81% 0;
    }
  }
  &__img-pc {
    width: 100%;
    @include media(tab) {
      display: none;
    }
  }
  &__img-sp {
    display: none;
    @include media(tab) {
      display: block;
      width: 100%;
    }
  }
}

/* オプション */
.options {
  @include clearfix;
  margin-bottom: 60px;
  @include media(tab) {
    margin-bottom: 9.37%;
  }
  &__heading {
    margin-bottom: 20px;
    padding: 12px 0;
    border: 1px solid $c_gold;
    color: $c_gold;
    text-align: center;
    @include media(tab) {
      padding: 2.3%;
      font-size: $sp_base_font_size;
    }
  }
  &__unit {
    width: 323px;
    float: left;
    margin-right: 15px;
    @media screen and (min-width: 481px) {
      &:last-child {
        margin-right: 0;
      }
    }
    @include media(tab) {
      float: none;
      width: $responsive_width;
      margin-right: 0;
    }
    &__img {
      width: 100%;
    }
  }
}

/* オーダーの流れ */
.order-flow {
  @include clearfix;
  &__unit {
    @include clearfix;
    width: 480px;
    margin-bottom: 40px;
    &:nth-child(odd) {
      float: left;
      @include media(tab) {
        float: none;
        margin-left: auto;
        margin-right: auto;
      }
      @include media(sp) {
        float: none;
        width: $responsive_width;
      }
    }
    &:nth-child(even) {
      float: right;
      @include media(tab) {
        float: none;
        margin-left: auto;
        margin-right: auto;
      }
      @include media(sp) {
        float: none;
        width: $responsive_width;
      }
    }
    &--imgbox {
      float: left;
      width: 150px;
      @include media(sp) {
        width: 30%;
      }
      &__img {
        width: 100%;
      }
    }
    &--contentbox {
      float: right;
      @include media(sp) {
        width: 66%;
      }
    }

    &__heading {
      @include title-font;
      color: $c_gold;
      font-size: 2rem;
      @include media(sp) {
        font-size: 1.5rem;
      }
    }
    &__step {
      color: $c_dark-blue;
      font-size: 2rem;
      font-weight: bold;
      margin: 10px 0 20px;
      @include media(sp) {
        font-size: 1.5rem;
        margin: 2.34% 0;
      }
    }
    &__text {
      width: 310px;
      line-height: $base_line_height;
      @include media(sp) {
        width: $responsive_width;
        font-size: 1rem;
        line-height: 1.6;
      }
    }
  }
}

/* ------------------
  バナーエリア
------------------ */

.banner-box {
  text-align: center;
  &__pc-banner {
    background: $c_white;
    &--size {
      width: 100%;
      &:hover {
        @include hover-opacity;
      }
    }
    @include media(tab) {
      display: none;
    }
  }
  &__sp-banner {
    &--size {
      width: 100%;
    }
    display: none;
    @include media(tab) {
      display: block;
      width: $responsive_width;
    }
  }
}
.shop-info {
  margin-top: 75px;
  color: $c_white;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  @include media(sp) {
    margin-top: 9.37%;
    font-size: 1.6rem;
  }
}

/* ------------------
  footer
------------------*/
.footer {
  padding: 100px 0 40px;
  background: $c_bg;
  @include media (sp) {
    padding: 14.84% 0 6.25%;
  }
}

.footer_nav__list {
  width: 403px;
  margin: 0 auto;
  @include clearfix;
  @include media(sp) {
    width: $responsive_width;
  }

  &__list-item {
    float: left;
    padding: 0 1rem;
    border-left: 1px solid $c_white;
    font-size: 1.4rem;
    &:last-child {
      border-right: 1px solid $c_white;
      @include media(sp) {
        border: none;
      }
    }

    @include media(sp) {
      float: none;
      border: none;
      font-size: 1.2rem;
      text-align: center;
      line-height: 2.5;
    }

    & a {
      color: $c_white;
      &:hover {
        text-decoration: underline;
      }
    }
  }

}

.copyright {
  margin-top: 36px;
  color: $c_white;
  font-family: $google_font_bold;
  font-size: 1.4rem;
  text-align: center;
  @include media {
    @include sp-size(margin-top, 60)
    font-size: 1rem;
  }
}

/* ------------------
 pagetop-button
------------------ */

.pagetop-button {
  position: absolute;
  bottom: 20px;
  right: 20px;
  padding: 28px 17px;
  background: $c_dark-blue;
  @include media(tab) {
    padding: 4.37% 2.18%;
  }
}

/* ------------------
 utility
------------------ */
.mb0 {
  margin-bottom: 0;
}
.mr0 {
  margin-right: 0;
}
.f-left {
  float: left;
}

.f-right {
  float: right;
}

.pc-display {
  @include media(sp) {
    display: none;
  }
}

.sp-display {
  display: none;
  @include media(sp) {
    display: block;
  }
}
